*, *::before, ::after {
    box-sizing: border-box;
    font-weight: normal;
    color: #f5f5f5;
}

:root {
    --font-neon-text-shadow: 0 0 10px rgba(0, 200, 150,0.3),
    0 0 20px rgba(70, 200, 150,0.3),
    0 0 30px rgba(0, 200, 150,0.3),
    0 0 40px rgba(0, 200, 150,0.3),
    0 0 70px rgba(0, 200, 150,0.3),
    0 0 80px rgba(0, 200, 150,0.3),
    0 0 100px rgba(0, 200, 150,0.3),
    0 0 150px rgba(0, 200, 150,0.3);

    --text-color: #f5f5f5;
    --hover-color: #00C896;
    --bg-color: #050115;
    --secon-bg-color: #33313F;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #00c896;
    --h2-font: 3rem;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #050115, #33313F);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #00c795;
    outline: none;
    background-color: rgba(83, 149, 196, 0.65);
    box-shadow: var(--neon-box-shadow);
    
}

.calculator-grid > button:hover {
    background-color: rgba(83, 149, 196, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 199, 149, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid #00c795;
    box-shadow: var(--neon-box-shadow);
}
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

